{% extends "base.twig" %}
{% block title %}{{ planet.name }}{% endblock %}
{% block head %}
    <style>
        .page-container {
            display: grid;
            grid-template-columns: 6fr 4fr;
            grid-template-rows: 8em 8em 1fr;
            grid-template-areas: "title title" "toolbar filters" "map resources";
            height: 100%;
        }
        .title {
            grid-area: title;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .toolbar {
            grid-area: toolbar;
            padding: 1em;
            display: flex;
            flex-direction: column;
            gap: .5em;
        }

        .filters { grid-area: filters }
        .map {
            grid-area: map;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            padding: 2em;
            overflow-y: hidden;
        }
        .resources { grid-area: resources }

        .title__block {
            display: flex;
            flex-direction: column;
            gap: .5em;
        }

        .title__block h1 {
            font-size: 2em;
        }

        .toolbar__modes, .toolbar__terrain:not(.hidden), .toolbar__deposits:not(.hidden) {
            flex: 0 0 50%;
            display: flex;
            flex-direction: row;
            gap: .25rem
        }

        .toolbar__modes {
            flex: 0 1 0;
            gap: .5rem;
        }

        .toolbar__terrain__tile {
            width: 6%;
            max-width: 50px;
            border: 1px solid #195069;
            border-radius: 3px;
            overflow: hidden;
            cursor: pointer;
            z-index: 10;
        }

        .toolbar__terrain__tile.active {
            border: 1px solid #2e96bf;
            filter: brightness(.7);
        }

        .toolbar__terrain__tile img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .map__canvas {
            width: 100%;
            height: 100%;
        }

        .map__terrain-layer {
            position: absolute;
            z-index: 10;
        }

        .map__deposits-layer {
            position: absolute;
            z-index: 20;
            pointer-events: none;
        }

        .map__terrain-layer .map__terrain-layer__tile {
            position: absolute;
            background-size: 100% 100%;
        }

        .map__deposits-layer .map__deposits-layer__tile {
            position: absolute;
            background-size:65% 65%;
            background-repeat: no-repeat;
            background-position: center;
        }

        #deposit-editor-modal form {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    </style>
    <script type="application/javascript" src="/assets/js/planet_editor.js"></script>
{% endblock %}
{% block content %}
    <div class="page-container">
        <div class="title">
            <div class="title__block">
                <h1><span id="planet-name">{{ planet.name }}</span></h1>
                <h3>System: <span id="planet-system">{{ planet.system }}</span> <span id="title-edit-button">✎</span></h3>
            </div>
        </div>
        <div id="toolbar" class="toolbar">
            <div class="toolbar__modes">
                <button id="terrain-editor" data-mode="terrain" type="button">Terrain Editor</button>
                <button id="deposit-editor" data-mode="deposits" type="button">Deposit Editor</button>
            </div>
            <div class="toolbar__terrain hidden">
                {% for terrainType in terrainTypes  %}
                <div class="toolbar__terrain__tile" title="{{ terrainType.name }}" data-uid="{{ terrainType.uid }}">
                    <img src="{{ terrainType.imgUrl }}" alt="{{ terrainType.name }}"/>
                </div>
                {% endfor %}
            </div>
            <div class="toolbar__deposits hidden">
                <span>In order to add/edit/delete deposits, click the relevant tile on the map.</span>
            </div>
        </div>
        <div id="map" class="map">
            <div class="map__canvas" data-planet-id="{{ planet.id }}" data-planet-size="{{ planet.size }}">
                <div class="map__container">
                    <div class="map__terrain-layer hidden">
                        {%  for tile in planet.terrain %}
                            <div class="map__terrain-layer__tile map__tile" data-id="{{ tile.id }}" data-x="{{ tile.x }}" data-y="{{ tile.y }}" data-terrain="{{ tile.terrainTypeUid }}">
                            </div>
                        {%  endfor %}
                    </div>
                    <div class="map__deposits-layer hidden">
                        {% for deposit in planet.deposits %}
                            <div class="map__deposits-layer__tile map__tile" data-id="{{ deposit.id }}" data-x="{{ deposit.x }}" data-y="{{ deposit.y }}" data-deposit="{{ deposit.depositTypeUid }}" data-amount="{{ deposit.amount }}" data-notes="{{ deposit.notes }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="filters"></div>
        <div class="resources"></div>
        <div id='map-tooltip' style='position: absolute; visibility: hidden; z-index: 100; background-image: none; left: 0; top: 0;'>
            <table style='border: none; background: #666666; width: 200px'>
                <tbody>
                <tr><td>
                        <table style='border: none; width: 100%'>
                            <tbody>
                            <tr><td>
                                    <b><span id='tooltip-top' style='font-family: Verdana,Arial,Helvetica; color: #FFF; font-size: x-small; font-weight: bold'></span></b>
                                </td></tr>
                            </tbody>
                        </table>
                        <table style='width: 100%; border: none; background: #FFFFE1;'>
                            <tbody>
                            <tr><td>
                                    <span id='tooltip-bottom' style='font-family: Verdana,Arial,Helvetica; color: #000; font-size: x-small; vertical-align: top'></span>
                                </td></tr>
                            </tbody>
                        </table>
                    </td></tr>
                </tbody>
            </table>
        </div>
        <div id="deposit-editor-modal" class="modal" style="z-index: 11000">
            <h3 class="title"></h3>
            <form>
                <div>
                    <label for="deposit">Deposit type:</label>
                    <select id="deposit" name="deposit" style="min-width: 200px" required>
                        {% for depositType in depositTypes %}
                            <option value="{{ depositType.uid }}">{{ depositType.name }}</option>
                        {%  endfor %}
                    </select>
                </div>
                <div>
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" name="amount" step="1" min="1" required/>
                </div>
                <div style="display: flex; flex-direction: column">
                    <label for="notes">Notes:</label>
                    <textarea id="notes" name="notes" style="background: #001932; border: 1px solid #195069; border-radius: 4px; color: white"></textarea>
                </div>
                <div class="buttons">
                    <input type="hidden" name="id" value=""/>
                    <input type="hidden" name="x" value=""/>
                    <input type="hidden" name="y" value=""/>
                    <button type="submit" id="modal__confirm">Save</button>
                    <button type="button" id="modal__delete">Delete</button>
                    <button type="button" id="modal__close">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}